{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {% if title %}
    <title>Insta {{title}}</title>
    {% else %}
    <title> Insta</title>
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Satisfy&display=swap" rel="stylesheet">

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">

    {% endblock %}
</head>

<body>
    <!-- navbar -->
    {% include "navbar.html" %}

    <!-- content -->
    {% block content %}
    {%endblock%}



    <!-- scripts -->
    {% block scripts %}
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>