{% extends 'base.html' %}
{% load static %}



{% block content %}
<style>
  .main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.5)
}
.post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.btn,
.btn:hover {
  background-color: black;
  font-size: xx-small;
  color: #fff;
  width: 70px;
  height: 30px;
}

.btn-outline-dark,
.btn-outline-dark:hover {
  background-color: transparent;
  color: black;
}

.b-r {
  text-transform: uppercase;
  border-radius: 20px;
  padding: 7px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 20px;
}

.fade-item {
  font-weight: 400;
  color: grey;
  font-size: 11px;
}


.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
}

.comment-box{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}

/* Follow Suggestions */


/* .see-all{
  font-size: 12px;
} */
.profile-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.profile-card .profile-pic{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-card:first-child .profile-pic{
    width: 70px;
    height: 70px;
}

.profile-card .profile-pic img{
    border: none;
}

.profile-card .username{
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: 500;
    font-size: 11px;
    color: #000;
    position:relative; right:20px; 
}

.likes{
    font-weight: bold;
    font-size: 13px;
}

.sub-text{
    color: rgba(0, 0, 0, 0.5);
    font-size:10px;
    font-weight: 500;
}

.action-btn{
    margin-bottom: 13%;
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
    position:relative; right:10px;
}

.suggestion-text{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

@media (max-width: 1100px){
    .right-col, .search-box{
        display: none;
    }
    .nav-wrapper,
    .wrapper{
        width: 90%;
    }
    .wrapper{
        display: block;
    }
}

@media (max-width: 500px){
    .nav-items .icon{
        margin: 0 5px;
    }
    .post-image{
        height: 300px;
    }
}
</style>

<!-- stories -->
<section class="main">
  <div class="wrapper">
    <div class="left-col">
      <div class="status-wrapper">
        <div class="status-card">
          <div class="profile-pic"><img src="static/img/cover 10.png" alt=""></div>
          <p class="username">Kai</p>
        </div>
        <div class="status-card">
          <div class="profile-pic"><img src="static/img/cover33.png" alt=""></div>
          <p class="username">Jules</p>
        </div>
        <div class="status-card">
          <div class="profile-pic"><img src="static/img/cover1.png" alt=""></div>
          <p class="username">Styles P</p>
        </div>
        <div class="status-card">
          <div class="profile-pic"><img src="static/img/cover4.png" alt=""></div>
          <p class="username">Just_reen</p>
        </div>
        <div class="status-card">
          <div class="profile-pic"><img src="static/img/cover 6.png" alt=""></div>
          <p class="username">Oluchi</p>
        </div>
      </div>

      <!-- Instagram posts -->

      <section class="ig-posts">
        {% for image in images %}
        <div class="post">
          <div class="info">
              <div class="user">
                  <div class="profile-pic"><a href="{% url 'user.profile' image.user.id %}"><img src="static/img/cover133.png" alt=""></a></div>
                  <p class="username">{{ image.user.username }}</p>
              </div>
              <img src="static/img/option.png" class="options" alt="">
          </div>
          <img src="{{ image.image.url }}" class="post-image" alt="">
          <div class="post-content">
              <div class="reaction-wrapper">
                  <a href="{% url 'image.likes' image.id %}"><img src="static/img/like.png" class="icon" alt=""></a>
                  <a href="{% url 'single.image' image.id %}"><img src="static/img/comment.png" class="icon" alt=""></a>
                  <img src="static/img/send.png" class="icon" alt="">
                  <img src="static/img/save.png" class="save icon" alt="">
              </div>
              <p class="likes"> {{image.likes_count}} likes</p>
              <p class="description"><span>{{image.user.username}}</span>{{ image.image_caption|slice:":50" }}...more</p>
              <p  class="fade-item">View all {{image.comment_count }} comments</p>
              <p class="post-time">{{image.image_date|timesince}} ago</p>
          </div>
          <div class="comment-wrapper">
              <img src="static/img/smile.png" class="icon" alt="">
              <input type="text" class="comment-box" placeholder="Add a comment">
              <button class="comment-btn btn-primary">post</button>
          </div>
      </div>
      {% endfor %}
      </section>

      <!-- Follow Suggestions -->
      <div class="right-col" style="position:absolute; right:-0px; top:50px;">
        <div class="profile-card">
            <div class="profile-pic">
                <img src="static/img/cover 5.png" alt="">
            </div>
            <div>
                <p class="username">Khalai</p>
                <p class="sub-text">Mc_Khalai</p>
            </div>
            <button class="action-btn">switch</button>
        </div>
        <br>
        <p class="suggestion-text">Suggestions For You</p>
        <div class="profile-card">
            <div class="profile-pic">
                <img src="static/img/cover 9.png" alt="">
            </div>
            <div>
                <p class="username">Just_reen</p>
                <p class="sub-text">Followed by Kai</p>
            </div>
            <button class="action-btn">Follow</button>
        </div>
        <div class="profile-card">
            <div class="profile-pic">
                <img src="static/img/cover4.png" alt="">
            </div>
            <div>
                <p class="username">King_Kunta</p>
                <p class="sub-text">New to Instagram</p>
            </div>
            <button class="action-btn">Follow</button>
        </div>
        <p class="fade-item" style="font-size: 1px;">About.   Help.   Press.   API.    Jobs.   Privacy.   Terms.   Locations.   Language.   English</p>
        <p class="fade-item" style="font-size: 1px;">© 2022 INSTAGRAM FROM META</p>
    </div>

    </div>
  </div>
</section>
    </div>
  </div>

</section>

{% endblock content %}