<nav class="navbar navbar-expand-lg">
  <div class="container container-fluid">
      <a class="navbar-brand" href="/">
          Instagram
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <div class="container-fluid search-form text-center">
                <!-- <form action="" class="search mb-3">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name="query">
                      <div class="input-group-append">
                          <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
              </form> -->
                  <form class="d-flex" action="">
                      <input class="form-control me-2" type="search" name="search" placeholder="Search Image" aria-label="Search">
                  </form>
              </div>
          </ul>

          <ul class="navbar-nav nav-right">
              <li class="nav-item">
                  <a class="nav-link" href="/"><i class="fa fa-home"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href=""><i class="fas fa-user-circle"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fab fa-facebook-messenger"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-heart"></i></a>
              </li>
          </ul>
      </div>
  </div>
</nav>