<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}

/* .search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
} */

.nav-items{
    height: 22px;
    position: relative;
}

.navbar-brand{
    position: relative;
    height: 50px;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile{
    width: 22px;
    border-radius: 50%;
    background-image: url(static/img/profile-pic.png);
    background-size: cover;
}

</style>


<!-- navbar code -->
<nav class="navbar navbar-expand-lg">
  <div class="container container-fluid">
      <a class="navbar-brand" href="/"><img src="static/img/logo.png" class="brand-img" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <div class="container-fluid search-form text-center">
                  <form class="d-flex" action="{% url 'search.images' %}">
                      <input class="form-control me-2" type="search" name="search" placeholder="search" aria-label="Search">
                  </form>
              </div>
          </ul>
          <div class="nav-items">
            <a href="/"><img src="static/img/home.png" class="icon" alt=""></a>
            <img src="static/img/messenger.png" class="icon" alt="">
            <img src="static/img/add.png" class="icon" alt="">
            <img src="static/img/explore.png" class="icon" alt="">
            <img src="static/img/like.png" class="icon" alt="">
            <a href="{% url 'profile'%}"><img src="static/img/cover 1.png" class="icon user-profile"  alt=""></a>
            <!-- {% if user.is_authenticated %}
            <a href="{% url 'profile'%}"><img src="static/img/user.png" class="brand-img" alt=""></a>
            <a class='btn btn-default' href="/logout">Logout</a>
            {% else %}
            <a class='btn btn-default' href="/accounts/login">Login</a>
            {% endif %} -->
          </div>
      </div>
  </div>
</nav> 