{% extends "base.html" %}



{% block content %}
<style>
  .card {
      background: #fff none repeat scroll 0 0;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 1px;
      box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
      margin-bottom: 1px;
      padding: 1px 1px;
      transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out;
  }

  .card:hover {
      box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
      background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
  }

  .profile .card-img-top {
      border-radius: 50% !important;
  }
</style>

<section>
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if success %}
            <div class="alert alert-success" role="alert">
                <h3>Results for '{{ success }}'</h3>
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                <h3>No Results for '{{ danger }}'</h3>
            </div>
            {% endif %}
        </div>
        <div class="space-y-5 flex-shrink-0 lg:w-7/12">
          <!-- post 1 -->
          {% for image in images %}
          <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">
            <!-- post header -->
            <div class="flex justify-between items-center px-4 py-3">
              <div class="flex flex-1 items-center space-x-4">
                <a href="{% url 'user.profile' image.user.id %}"><img src="https://res.cloudinary.com/oyesa/image/upload/v1654326204/profile-pics/clipart1821286_edjcgy.png" alt="" class="user-avatar border-radius"></a>
              </div>
              <div>
                <a href="{% url 'user.profile' image.user.id %}"><p><small>{{ image.user.username }} </small></p></a>
                </div>
              </div>
              <div uk-lightbox>
                <img src="{{ image.image.url }}" class="card-img-top" alt="post image">
              </div>
              <div class="card-body">
                <small>
                  <div class="d-flex justify-content-start">
                    <div>
                      <p><a href="{% url 'image.likes' image.id %}"> <i class="far fa-heart"></i></a></p>
                    </div>
                  </div>
                  <div>
                    <p> <a href="{% url 'single.image' image.id %}"> <i class="far fa-comment"></i></a></p>
                  </div>
                </small>
                <a href="{% url 'single.image' image.id %}"><p class="fade-item">{{image.likes_count }} Likes</p>
                <h6 class="">{{ image.image_caption|slice:":30" }}<small><span class="text-muted">...more</span></small> </h6>
                <p class="fade-item">View All {{image.comment_count }}comments</p>
                </a>
              </div>
            </div>
    
          </div>
          {% endfor %}
        </div>
</section>
{% endblock content %}